@page
@using Loppprojekt.Aids.Reflection
@using Loppprojekt.Pages.Extensions
@using Loppprojekt.Data.Cars
@model Loppprojekt.Soft.Areas.Cars.Pages.Makes.DetailsModel

@{
    Layout = "_Details";
    const string models = "/Cars/Models";
    var makeId = GetMember.Name<ModelData>(x => x.MakeId);
}

<body>
    @Html.DisplayControlsFor(m => m.Item.Code)
    @Html.DisplayControlsFor(m => m.Item.Name)
    @Html.DisplayControlsFor(m => m.Item.Definition)
    @Html.DisplayControlsFor(m => m.Item.ValidFrom)
    @Html.DisplayControlsFor(m => m.Item.ValidTo)
</body>

@section Details
{
    @Html.HypertextLinkFor(string.Empty, new Link("Show models",
        $"{models}/Index?fixedFilter={makeId}&fixedValue={Model.Item.Id}"))
}