@page
@using Loppprojekt.Pages.Extensions
@model Loppprojekt.Soft.Areas.Cars.Pages.Generations.CreateModel

@{
    Layout = "_Create";
}

    <body>
        @Html.EditControlsFor(m => m.Item.MarkId)
        @Html.EditControlsFor(m => m.Item.ModelsId)
        @Html.EditControlsFor(m => m.Item.Name)
        @Html.EditControlsFor(m => m.Item.Country)
        @Html.EditControlsFor(m => m.Item.BodyType)
        @Html.EditControlsFor(m => m.Item.DrivenWheel)
        @Html.EditControlsFor(m => m.Item.Description)
        @Html.EditControlsFor(m => m.Item.YearOfManufacture)
    </body>
